<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="/" class="header-block">
                <img src="/img/header_logo.svg" alt="">
                <p>Testing</p>
            </a>
            <div class="header-block">
                <a href="" class="header-link">Home</a>
                <a href="" class="header-link">Our Pertners</a>
                <a href="" class="header-link">Our Team</a>
                <a href="" class="header-link">Contact Us</a>
            </div>
        </div>
    </div>
</header>
