@import "base/mixins";

.hero {
  background: url("/img/hero/hero_bg.png") center center/cover no-repeat;;
  padding-top: calcFluidSize(142, 130);
  padding-bottom: calcFluidSize(142, 248);
  position: relative;
  margin-top: -2px;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 46px;
    z-index: 10;
    border-radius: 7px;
    max-width: 1268px;
    width: 100%;
    position: relative;
    &:after {
      content: "";
      inset: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(100px);
      -webkit-backdrop-filter: blur(100px);
      position: absolute;
      background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
      filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
    }
  }

  &-title {
    font-weight: 700;
    font-size: calcFluidSize(34, 72);
    line-height: calcFluidSize(40, 82);
    text-align: center;
    color: #FFFFFF;
    z-index: 5;

    max-width: 300px;

    @media (min-width: 550px) {
      max-width: 330px;
    }
    @media (min-width: 768px) {
      max-width: none;
    }

  }

  &-subtitle {
    font-family: Ubuntu-Light,sans-serif;
    font-size: calcFluidSize(16, 24);
    line-height: calcFluidSize(19, 28);
    text-align: center;
    color: #FFFFFF;
    max-width: 740px;
    width: 100%;
    margin-top: 30px;
    z-index: 5;
    @media (min-width: 768px) {
      margin-top: 40px;
      text-align: left;
    }
  }

  .buttons {
    max-width: 630px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    z-index: 5;
    flex-direction: column;
    @media (min-width: 768px) {
     flex-direction: row;
    }
    @media (min-width: 992px) {
      margin-top: 115px;
    }
   .button {
      border-radius: 36px;
      max-width: 285px;
      width: 100%;
      padding: 18px;
      text-align: center;
      font-weight: 400;
     font-size: calcFluidSize(20, 24);
     line-height: calcFluidSize(23, 28);
      color: #FFFFFF;
      display: block;

    }

    .red {
      background: #FF0B53;
      @media (min-width: 768px) {
       width: calc(50% - 15px);
      }
    }

    .trn {
      border: 1px solid #FFFFFF;
      background: transparent;
      margin-top: 30px;
      @media (min-width: 768px) {
        margin-top: 0px;
        width: calc(50% - 15px);
      }
    }
  }

  &-semicircle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calcFluidSize(314, 1020);
    img {
      width: 100%;
    }
  }

  &-circle {
    position: absolute;
    left: 20%;
    top: 120px;
    @media (min-width: 360px) {
      top: calcFluidSize(135, -90);;
    }
    @media (min-width: 475px) {
      top: 115px;
    }
    @media (min-width: 992px) {
      top: calcFluidSize(-15, -75);
    }
    img {
      width: calcFluidSize(80, 256);
      height: calcFluidSize(80, 256);
    }
  }

  &-cross {
    position: absolute;
    top: 50%;
    right: calcFluidSize(15, 15);
    transform: translateY(-50%);
    img {
      width: calcFluidSize(80, 266);
      height: calcFluidSize(80, 266);
    }
  }
}

.partners {
  background: #F8F8F8;
  padding-top: calcFluidSize(50, 120);
  padding-bottom: calcFluidSize(50, 120);
  h3 {
    font-weight: 700;
    font-size: calcFluidSize(24, 54);
    line-height: calcFluidSize(28, 62);
    color: #101020;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    @media (min-width: 992px) {
     flex-direction: row;
     align-items: stretch;
     justify-content: space-between;
    }
  }

  //&-right, &-left {
  //  @media (min-width: 768px) {
  //    width: calc(50% - 15px);
  //  }
  //}



  .review {
    position: relative;
    overflow: hidden;
    display: flex;
    @media (min-width: 992px) {
      width: calc(50% - 10px);
      max-width: 575px;
      width: 100%;
    }
    @media (min-width: 1700px) {
      width: calc(50% - 10px);
      max-width: none;
    }

    &-item {
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      border-radius: 10px;
      z-index: -1;
      width: 0;
      height: 0;
      transform: translateX(100%);

      .user {
        display: flex;
        align-items: center;
      }

      .photo {
        img {
          width: 44px;
          height: 44px;
          border-radius: 50%;
        }
      }

      .info {
        margin-left: 10px;
        p {
          font-weight: 500;
          font-size: calcFluidSize(20, 24);
          line-height: calcFluidSize(23, 28);
          color: #000000;
          margin-bottom: 5px;
        }
        span {
          font-weight: 300;
          font-size: calcFluidSize(16, 20);
          line-height: calcFluidSize(18, 23);
          color: #575757;
        }
      }

      .text {
        font-weight: 300;
        font-size: calcFluidSize(16, 20);
        line-height: calcFluidSize(18, 23);
        color: #3D3D3D;
        margin-top: 20px;
        font-family: Ubuntu-Light,sans-serif;
      }
    }

    .active  {
      display: flex;
      transform: translateX(0);
      z-index: 1;
      height: 100%;
      width: 100%;
      padding: 10px;
      transition: transform 0.3s;
      border: 1px solid #DEDEDE;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      @media (min-width: 992px) {
        padding: 30px;
      }
    }
  }

  .logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 30px;
    width: 100%;
    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 0;
      //width: calc(50% - 15px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      width: 100%;
      margin-left: 20px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1700px) {
      width: calc(50% - 10px);
      margin-left: 0;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1px solid #DEDEDE;
      border-radius: 7px;
      min-height: 100px;
      &:hover {
        cursor: pointer;
        border: 1px solid #101020;
      }
      img {
        width: 114px;
      }
      @media (min-width: 992px) {
        min-height: 170px;
       img {
         width: 226px;
       }
      }
    }

    .active {
      border: 1px solid #101020;
    }
  }
}

.team {
  padding-top: calcFluidSize(50, 120);
  padding-bottom: calcFluidSize(50, 120);
  position: relative;
  .container {
    @media (min-width: 992px) {
      padding-right: 0;
      max-width: 1920px;
    }
  }
  h3 {
    font-weight: 700;
    font-size: calcFluidSize(24, 54);
    line-height: calcFluidSize(28, 62);
    color: #101020;
    margin-bottom: 30px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-left {
    @media (min-width: 992px) {
      min-width: 430px;
      max-width: 430px;
    }
    p {
      font-size: calcFluidSize(20, 34);
      line-height: calcFluidSize(23, 39);
      font-weight: 700;
      color: #101020;
      margin-bottom: 15px;
      text-align: left;
    }
    span {
      font-size: calcFluidSize(16, 20);
      line-height: calcFluidSize(18, 23);
      font-weight: 300;
      font-family: Ubuntu-Light,sans-serif;
      color: #3D3D3D;
    }
  }

  &-right {
    margin-top: 40px;
    @media (min-width: 992px) {
      width: 100%;
      overflow: hidden;
      margin-left: 15px;
    }
    .tabs {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F0F0F0;
      border-radius: 61px;
      max-width: 635px;
      width: 100%;
    }
    .swiper {
      margin-top: 40px;
      &-slide {
        position: relative;
        overflow: hidden;
        &:hover {
          .swiper-slide-hover {
            opacity: 1;
          }
        }
        img {
          width: 100%;
          object-fit: contain;
          //height:  calcFluidSize(268, 345);;
        }
        &-hover {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 0.3s;
        }
        &-block {
          width: 100%;
          flex-direction: column;
          display: flex;
          align-items: center;
          p {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 8px;
          }
          span {
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: #F2F2F2;
            margin-bottom: 20px;
          }
          button {
            background: #FF0B53;
            border-radius: 49px;
            max-width: 232px;
            width: 100%;
            height: 56px;
            text-align: center;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF;
          }
        }
      }

      &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        .swiper-scrollbar {
          position: unset;
          //opacity: 1!important;
          width: 75%;
          overflow: hidden;
          .swiper-scrollbar-drag {
            background: #17191D;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 1px;
          }
        }

        .swiper-button {
          display: none;
          @media (min-width: 992px) {
            display: flex;
            padding-right: 70px;
            &-next {
              position: static;
            }
            &-prev {
              position: static;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }

  &-cross {
    position: absolute;
    img {
      width: calcFluidSize(65, 148);
      height: calcFluidSize(65, 148);
    }
    &.top {
      top: calcFluidSize(30, 100);
      right: 10%;
      @media (min-width: 992px) {
        right: 15%;
      }
    }

    &.bottom {
      display: none;
      bottom: calcFluidSize(30, 70);
      left: calcFluidSize(30, 115);
      @media (min-width: 992px) {
        left: 10%;
        display: block;
      }
    }
  }

  &-popup {
    background: rgba(0, 0, 0, 0.63);
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    display: none;
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    &-item {
      max-width: 725px;
      width: 100%;
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
      padding: 10px;
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      display: none;
      @media (min-width: 768px) {
        padding: 20px;
      }
    }
    .close {
      position: absolute;
      right: 16px;
      top: 16px;
      background: #F8F8F8;
      border: 1px solid #DEDEDE;
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
      border-radius: 50%;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      &-block{
        margin-top: 20px;
        @media (min-width: 768px) {
          margin-left: 20px;
          margin-top: 0px;
        }
      }

      &-img  {
       img {
         width: calcFluidSize(102, 270);
         @media (min-width: 992px) {
           width: 270px;
         }
       }
      }

      &-item {
        display: flex;
        align-items: center;
        margin-top: 15px;
        @media (min-width: 992px) {
          margin-top: 12px;
        }
        &:first-child {
          margin-top: 0;
        }
        p {
          font-weight: 400;
          font-size: calcFluidSize(16, 20);
          line-height: calcFluidSize(18, 23);
          color: #585858;
          min-width: 65px;
          //width: 100%;
          text-align: left;
          margin-right: 24px;
        }
        span {
          font-family: Ubuntu-Light,sans-serif;
          color: #2C2C2C;
          font-size: calcFluidSize(16, 20);
          line-height: calcFluidSize(18, 23);
          background: #F4F4F4;
          border-radius: 7px;
          padding: 7px 10px;
        }
      }

      &-social {
        display: flex;
        background: #F4F4F4;
        border-radius: 7px;
        margin-top: 16px;
        padding: 5px 10px;
        width: fit-content;
        &-link {
          margin-left: 15px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    .description {
      margin-top: 20px;
      p {
        color: #3D3D3D;
        font-family: Ubuntu-Light,sans-serif;
        font-size: calcFluidSize(16, 20);
        line-height: calcFluidSize(18, 23);
      }
    }
  }
  .active {
    display: flex;
  }
}


@supports(-webkit-appearance: none) or (-moz-appearance: none) {

  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform 0.3s, ease, opacity 0.2s;
    }

    &:checked {
      //background: #FFFFFF;
      &+label {
        font-weight: bold;
        color: #FFFFFF;
        font-weight: bold;
      }
    }

    &:disabled {
      background: #FFFFFF;
      border: 2px solid #101020;
      cursor: not-allowed;

      &:checked {
        color: #101020;
      }

      &+label {
        cursor: not-allowed;
        color: #101020;
      }
    }

    &:not(.switch) {
      &:after {
        opacity: 0;
      }

      &:checked {
        &:after {
          opacity: 1;
        }
      }
    }

    &+label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 16px;
    }
  }

  input[type='radio'] {
    border-radius: 50%;
    border: 2px solid #101020;
    width: 24px;
    height: 24px;
    position: relative;
    flex-shrink: 0;

    &:after {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #FFFFFF;
      opacity: 0;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &:checked {
      border: 2px solid #FFFFFF;
    }
  }
}

.form-element-toggle {
  display: flex;
  align-items: center;
  padding: 9px 10px;
  @media (min-width: 992px) {
    max-width: 210px;
    width: 100%;
    padding: 20px 10px;
    justify-content: center;
  }
  label {
    color: #101020;
  }

  &-block {
    display: flex;
    flex-direction: column;
  }

  label.form-element-block {
    margin-left: 16px;
  }

  .checkbox {
    &:disabled {
      opacity: 0.5;

      &+label {
        opacity: 0.5;
      }
    }
  }
  &.active {
    background: #FF0B53;
    border-radius: 61px;
  }
}



.contact {
  padding-top: calcFluidSize(50, 120);
  padding-bottom: calcFluidSize(50, 120);
  margin-top: 50px;
  background: url("/img/contact/mobbg.png") center center/cover no-repeat #F8F8F8;
  background-position-x: right;
  background-size: contain;
  @media (min-width: 992px) {
    background: url("/img/contact/bg.png") center center/cover no-repeat #F8F8F8;
    background-position-x: right;
    background-size: contain;
    padding-top: 120px;
    padding-bottom: 30px;
  }
  h3 {
    font-weight: 700;
    font-size: calcFluidSize(24, 54);
    line-height: calcFluidSize(28, 62);
    color: #101020;
    margin-bottom: 30px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-start;
    @media (min-width: 992px) {
      max-width: 880px;
      margin-left: 0;
    }
  }

  &-form {
    width: 100%;
  }

  &-block {
    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-item {
    margin-bottom: 15px;
    &:last-child {
      //margin-bottom: 0px;
    }
    @media (min-width: 992px) {
      width: calc(50% - 10px);
    }
    input,textarea {
      background: #FFFFFF;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 7px;
      font-size: 16px;
      line-height: 18px;
      color: #585858;
      padding: 16px;
      text-align: left;
      resize: none;
    }
    &.textarea {
      width: 100%;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 15px;
    }
    .upload {
      border: 1px solid #101020;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 0;
      max-width: 335px;
      width: 100%;
      margin-bottom: 40px;
      background: #FFFFFF;
      @media (min-width: 992px) {
        margin-bottom: 0px;
      }
      svg {
        margin-right: 12px;
      }
      span {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #101020;
      }
    }
    .submit {
      background: #101020;
      border-radius: 36px;
      padding: 18px 0;
      max-width: 285px;
      width: 100%;
      span {
        font-size: calcFluidSize(20, 24);
        line-height: calcFluidSize(23, 28);
        color: #FFFFFF;
      }
    }
  }

  .dot {
    display: none;
    @media (min-width: 992px) {
      display: block;
      margin-top: 110px;
      margin-left: -30px;
    }
  }
}
